</main>

<footer class="footer text-center mt-auto">
    <div class="container">
        <span class="text-muted">Eventify &copy; 2025 - Organiza, crea y conecta.</span>
    </div>
</footer>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
